# =========================
# Python virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables / Secrets
# =========================
.env
*.env

# =========================
# Data / Vector DB
# =========================
data/private/
data/raw/private/
notebooks/data/*.pdf
**/*.pdf
chroma/
vector_db/
*.sqlite3

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode optional
# =========================
.vscode/
# =========================
# Images and Data
# =========================
*.png
*.csv
