python-dotenv
jupyter
ipykernel
ipywidgets
openai
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
pydantic
pandas
numpy
pypdf
tiktoken
langchain-chroma
chromadb
rank-bm25
langgraph
langsmith
requests
beautifulsoup4
matplotlib
scikit-learn